.event {
  max-width: 50%;
  margin-top: 40px;
}

.event__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  align-items: center;

  &:last-of-type {
    margin-bottom: 40px;
  }
}

